<div class="page-content">
  <h2 class="title">Alteração de dados cadastrais</h2>
  <h2>Dados Pessoais</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome" value="">
    </mat-form-field> <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" value="">
    </mat-form-field> <br>
      <img class="picture" (click)="logoutInfo()" [src]="userLogged.picture" />
  <hr>
  <h2>Funcionalidades Ativas</h2>
  <mat-checkbox (change)="changedCheckbox('gitHub', checkboxGitHub)" [(ngModel)]="checkboxGitHub">Integração com GitHub
    (Repositórios)</mat-checkbox> <br>
  <mat-checkbox>Gerenciamento de Repositório de Arquivos para Download</mat-checkbox>
  <hr>
  <h2>Integração com GitHub</h2>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Login do GitHub" value="">
  </mat-form-field> <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Senha do GitHub" value="">
  </mat-form-field>
</div>