<div class="page-content">
  <h2 class="title">Alteração de dados cadastrais</h2>
  <h2>Dados Pessoais</h2>
  <div class="personal-data">
    <div class="info">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="userInfo.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="userInfo.email">
      </mat-form-field> <br>
    </div>
    <div class="picture">
      <img class="picture" (click)="logoutInfo()" [src]="userInfo.picture" [style.display]="cropperReady ? null : 'block'"/>
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" onlyScaleDown
        (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>
        <input type="file" class="picture_change" id="picture_select" (change)="fileChangeEvent($event)" />
    </div>
  </div>
  <hr>
  <h2>Funcionalidades Ativas</h2>
  <mat-checkbox (change)="changedCheckbox('gitHub', checkboxGitHub)" [(ngModel)]="checkboxGitHub">Integração com GitHub
    (Repositórios)</mat-checkbox> <br>
  <mat-checkbox (change)="changedCheckbox('files', checkboxFiles)">Gerenciamento de Repositório de Arquivos para
    Download</mat-checkbox>
  <hr>
  <div *ngIf="checkboxGitHub">
    <h2>Integração com GitHub</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Login do GitHub" value="" [(ngModel)]="gitHubLogin">
    </mat-form-field> <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Senha do GitHub" value="" [(ngModel)]="gitHubPassword">
    </mat-form-field>
  </div>

  <div class="footer">
    <button class="save-button" mat-raised-button color="primary" (click)="saveChanges()">Salvar Alterações</button>
  </div>
</div>
