table {
    margin-top: 30px;
    width: 80%;
}
th,
td {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}

thead {
  background-color: #f5f5f5;
  line-height: 28px;
  td {
      text-align: center;
      font-weight: bold;
  }
}

tbody {
    td {
        cursor: pointer;
    }
}

.search-box {
    position: absolute;
    top: 10%;
    left: 72%;
    transform: translate(-50%, -50%);
    background: #3f51b5;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
   }
   
   .search-box:hover > .search-txt {
    width: 140px;
    padding: 0 6px;
    // display: block;
    opacity: 1;
}
   
   .search-box:hover > .search-btn {
    background: #5664b3;
   }
   
   .search-btn {
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .search-btn > img {
    width: 20px;
   }
   
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    opacity: 0;
    margin-top: 0px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
   }


.header {
    padding-top: 10px;
    h2 {
        text-align: center;
        margin-bottom: -0.8em;
    }
    h3 {
        text-align: center;
    }
}