th,
td {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}

thead {
  background-color: #f5f5f5;
  line-height: 28px;
  td {
      text-align: center;
      font-weight: bold;
  }
}

tbody {
    td {
        cursor: pointer;
    }
}


.header {
    h2 {
        text-align: center;
        margin-bottom: -0.8em;
    }
    h3 {
        text-align: center;
    }
}