<div class="body" *ngIf="repositories">
  <div class="header">
    <h2>Lista de Repositórios</h2>
    <a [href]="userLogged.html_url">
      <h3>{{userLogged.html_url}}</h3>
    </a>
  </div>
  <table align="center">
    <thead>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Stars</td>
      <td>Forks</td>
      <td>URL Clone</td>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repositories">
        <td (click)="tableClick(repo.html_url)">{{repo.name}}</td>
        <td>{{repo.description}}</td>
        <td style="text-align: center">{{repo.stargazers_count}}</td>
        <td style="text-align: center">{{repo.forks_count}}</td>
        <td style="cursor:pointer;text-align: center" [matTooltip]="repo.clone_url" (click)="copyLink(repo.clone_url)">Copy</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="body" *ngIf="!repositories">
  <app-loading color="#666" [text]="'Carregando Repositórios...'"></app-loading>
</div>