<div class="header">
  <h2>Lista de Repositórios</h2>
  <a [href]="userLogged.html_url">
    <h3>{{userLogged.html_url}}</h3>
  </a>
</div>
<table align="center" *ngIf="!loading">
  <thead>
    <td>Nome</td>
    <td>Descrição</td>
    <td>Stars</td>
    <td>Forks</td>
  </thead>
  <tbody>
    <tr *ngFor="let repo of repositories" (click)="tableClick(repo.html_url)">
        <td>{{repo.name}}</td>
        <td>{{repo.description}}</td>
        <td>{{repo.stargazers_count}}</td>
        <td>{{repo.forks_count}}</td>
      </tr>
  </tbody>
</table>
<div *ngIf="loading">
  <app-loading color="#666" [text]="'Carregando Dados...'"></app-loading>
</div>