/* You can add global styles to this file, and also import other style files */

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin-left: 82px; margin-top: 60px;
}

.mat-tab-label {
    width: 50% !important;
  }

  mat-tab-body {
      .mat-tab-body-content {
           overflow-y: hidden;
      }
  }